* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

main {
    padding: 2em;
    margin: auto;
    background-color: color-mix(in srgb, color percentage, color percentage);
    background-color: snow;
}

.dev {
    color: blueviolet;
    font-size: larger;
}

header {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;
    margin-left: 2em;
    padding-top: 1em;
}

nav {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 20px;
    margin-right: 2em;
    padding-top: 1em;
}

p {
    color: black;
    font-size: 20px;
}

.button-link {
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    align-items: center;
}

svg {
    width: 20px;
    height: 20px;
    color: blue;
}

footer {
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    text-wrap: balance;
}

.flexdiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: whitesmoke;
    padding: 0.5em;
    border-radius: 6px;
    font-weight: 600;
    color: black;
}

.span1 {
    display: flex;

}

main {
    width: 50%;
    float: none;
    padding: 20px;
}

#tm {
    color: black;
    font: caption;
}

h1 {
    text-shadow: 2px 2px 5px blue;
}

.aside1 {
    font-size: large;
    width: 25%;
    /* background-color: blanchedalmond; */
    padding: 20px;
    float: right;
}

.aside2 {
    font-size: large;
    width: 25%;
    /* background-color: blanchedalmond ; */
    padding: 20px;
    float: left;
}