* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

main {
    padding: 2em;
    margin: auto;
    background-color: color-mix(in srgb, color percentage, color percentage);
    background-color: snow;
    border: 2px solid blue;
    border-radius: 10px;
}

.dev {
    color: blueviolet;
    font-size: larger;
}

header {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 20px;
    margin-left: 2em;
    padding-top: 1em;
}

nav {
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 20px;
    margin-right: 2em;
    padding-top: 1em;
    color: black;
}

.nav1 {
    color: blueviolet;
}

p {
    color: black;
    font-size: 20px;
}

.button-link {
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    align-items: center;
}

svg {
    width: 20px;
    height: 20px;
    color: blue;
}

footer {
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    text-wrap: balance;
}

.flexdiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: whitesmoke;
    padding: 0.5em;
    border-radius: 6px;
    font-weight: 600;
    color: black;
}

.span1 {
    display: flex;

}

main {
    width: 50%;
    float: none;
    padding: 20px;

}

#tm {
    color: black;
    font: caption;
}

h1 {
    text-shadow: 2px 2px 5px blue;
}


.contact {
    background-color: white;
}

@media screen and (max-width: 700px) {
    body {
        background-color: cyan;
        color: white;
    }
}


@media screen and (max-width: 500px) {

    /* body {
        background-color: blanchedalmond;
        color: white;
    }

    .div {
        display: none;
    } */
    .nav1 {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .nav1 #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .nav1 a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    
    .nav1 a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    
    .nav1 a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        /* background-color: #04AA6D; */
        color: black;
    }
}